<!-- Footer -->
<footer class="pt-7">
  <div class="container">
    <!-- Footer 4 column -->
    <div class="row">
      <div class="col-lg-9 col-12">
        <div class="row" id="ft-links">
          <div class="col-lg-3 col-12">
            <div class="position-relative">
              <div class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0">
                <h4>About Us</h4>
                <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse" href="#collapseLanding"
                  role="button" aria-expanded="false" aria-controls="collapseLanding">
                  <i class="bi bi-chevron-down"></i>
                </a>
              </div>
              <div class="collapse d-lg-block" id="collapseLanding" data-bs-parent="#ft-links">
                <ul class="list-unstyled mb-0 py-3 py-lg-0">
                  <li class="mb-2">
                    <a href="@@webRoot/about.html" class="text-decoration-none text-reset">About</a>
                  </li>
                  <li class="mb-2">
                    <a href="@@webRoot/achievements.html" class="text-decoration-none text-reset">Our Achievements</a>
                  </li>
                  <li class="mb-2">
                    <a href="@@webRoot/solution.html" class="text-decoration-none text-reset">Our Solutions</a>
                  </li>
                  <li class="mb-2">
                    <a href="@@webRoot/feature.html" class="text-decoration-none text-reset">Our Features</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div>
              <div class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0 position-relative">
                <h4>Industries and Applications</h4>
                <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse" href="#collapseAccounts"
                  role="button" aria-expanded="false" aria-controls="collapseAccounts">
                  <i class="bi bi-chevron-down"></i>
                </a>
              </div>
              <div class="collapse d-lg-block" id="collapseAccounts" data-bs-parent="#ft-links">
                <ul class="list-unstyled mb-0 py-3 py-lg-0">
                  <li class="mb-2">
                    <a href="@@webRoot/oil-and-gas-Industry" class="text-decoration-none text-reset">Oil and Gas Industry</a>
                  </li>
                  <li class="mb-2">
                    <a href="@@webRoot/aerospace-industry" class="text-decoration-none text-reset">Aerospace Industry</a>
                  </li>
                  <li class="mb-2">
                    <a href="@@webRoot/steel-industry" class="text-decoration-none text-reset">Steel Industry</a>
                  </li>
                  <li class="mb-2">
                    <a href="@@webRoot/construction-industry" class="text-decoration-none text-reset">Construction Industry</a>
                  </li>
                  <li class="mb-2">
                    <a href="@@webRoot/healthcare-industry" class="text-decoration-none text-reset">Healthcare Industry</a>
                  </li>
                  <li class="mb-2">
                    <a href="@@webRoot/logistics-and-supply-chain" class="text-decoration-none text-reset">Logistics and Supply Chain</a>
                  </li>
                  <li class="mb-2">
                    <a href="@@webRoot/utilities-industry" class="text-decoration-none text-reset">Utilities Industry</a>
                  </li>
                  <li class="mb-2">
                    <a href="@@webRoot/maritime" class="text-decoration-none text-reset">Maritime</a>
                  </li>
                </ul>  
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0 position-relative">
              <h4>Other</h4>
              <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse" href="#collapseResources"
                role="button" aria-expanded="false" aria-controls="collapseResources">
                <i class="bi bi-chevron-down"></i>
              </a>
            </div>
            <div class="collapse d-lg-block" id="collapseResources" data-bs-parent="#ft-links">
              <ul class="list-unstyled mb-0 py-3 py-lg-0">
                <li class="mb-2">
                </li>
                <li class="mb-2">
                  <a href="@@webRoot/ai-and-ar-capabilities.html" class="text-decoration-none text-reset">AI and AR Capabilities</a>
                </li>
                <li class="mb-2">
                  <a href="@@webRoot/contact.html" class="text-decoration-none text-reset">Contact Us</a>
                </li>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0 position-relative">
              <h4>Locations</h4>
              <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse" href="#collapseLocations"
                role="button" aria-expanded="false" aria-controls="collapseLocations">
                <i class="bi bi-chevron-down"></i>
              </a>
            </div>
            <div class="collapse d-lg-block" id="collapseLocations" data-bs-parent="#ft-links">
              <ul class="list-unstyled mb-0 py-3 py-lg-0">
                <li class="mb-2">
                  <a href="#" class="text-decoration-none text-reset">India</a>
                </li>
                <li class="mb-2">
                  <a href="#" class="text-decoration-none text-reset">Singapore</a>
                </li>
                <li class="mb-2">
                  <a href="#" class="text-decoration-none text-reset">Dubai`</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="me-7">
          <h4 class="mb-4">Headquarters</h4>
          <p class="text-body-secondary">Codescandy, 412, Residency Rd, Shanthala Nagar, Ashok Nagar, Bengaluru,
            Karnataka, India 560025</p>
        </div>
      </div>
    </div>
  </div>
</footer>