<!-- Navbar -->
<header>
   <nav class="navbar navbar-expand-lg @@classList">
      <div class="container px-3">
         <a class="navbar-brand" href="@@webRoot/index.html"><img src="@@webRoot/assets/images/logo/logo.png" width="150px" alt="logo"/></a>
         <button class="navbar-toggler offcanvas-nav-btn" type="button">
            <i class="bi bi-list"></i>
         </button>
         <div class="offcanvas offcanvas-start offcanvas-nav" style="width: 20rem">
            <div class="offcanvas-header">
               <a href="@@webRoot/index.html" class="text-inverse"><img src="@@webRoot/assets/images/logo/logo.png" width="150px" alt="logo" /></a>
               <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body pt-0 align-items-center">
               <ul class="navbar-nav mx-auto align-items-lg-center">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Industries and Applications</a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@@webRoot/oil-and-gas-Industry.html">Oil and Gas Industry</a></li>
                        <li><a class="dropdown-item" href="@@webRoot/aerospace-industry.html">Aerospace Industry</a></li>
                        <li><a class="dropdown-item" href="@@webRoot/steel-industry.html">Steel Industry</a></li>
                        <li><a class="dropdown-item" href="@@webRoot/construction-industry.html">Construction Industry</a></li>
                        <li><a class="dropdown-item" href="@@webRoot/healthcare-industry.html">Healthcare Industry</a></li>
                        <li><a class="dropdown-item" href="@@webRoot/logistics-and-supply-chain.html">Logistics and Supply Chain</a></li>
                        <li><a class="dropdown-item" href="@@webRoot/utilities-industry.html">Utilities Industry</a></li>
                        <li><a class="dropdown-item" href="@@webRoot/maritime.html">Maritime</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="@@webRoot/solution.html">Solutions</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="@@webRoot/feature.html">Features</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="@@webRoot/ai-and-ar-capabilities.html">AI and AR Capabilities</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="@@webRoot/about.html">About Us</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="@@webRoot/contact.html">Contact Us</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
</header>