<!-- Navbar -->
<header>
   <nav class="navbar navbar-expand-lg @@classList">
      <div class="container px-3">
         <div class="offcanvas offcanvas-start offcanvas-nav" style="width: 20rem">
            <div class="offcanvas-body pt-0 align-items-center">
               <ul class="navbar-nav mx-auto align-items-lg-center">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
                     </li>
                  <li class="nav-item">
                     <a class="nav-link" href="@@webRoot/industries-and-application.html">Industries and Applications</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="@@webRoot/solution.html">Solutions</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="@@webRoot/feature.html">Features</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="@@webRoot/ai-and-ar-capabilities.html">AI and AR Capabilities</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="@@webRoot/about.html">About Us</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="@@webRoot/contact.html">Contact Us</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
</header>