<!-- Color modes -->
<script src="@@webRoot/assets/js/vendors/color-modes.js"></script>

<!-- Libs CSS -->
<link href="@@webRoot/node_modules/simplebar/dist/simplebar.min.css" rel="stylesheet" />
<link href="@@webRoot/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />

<!-- Scroll Cue -->
<link rel="stylesheet" href="@@webRoot/node_modules/scrollcue/scrollCue.css" />

<!-- Box icons -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/css/boxicons.min.css" />

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css" />
<!-- endbuild -->
